collection_interval_hours=24  # Интервал сбора данных в часах
collection_interval_minutes=1440  # Интервал сбора постов в минутах (24 часа)
fastapi_base_url="http://127.0.0.1:8002"

backup_paths_posts="backups/backup_posts.csv"
backup_paths_historical="backups/backup_historical.csv"

historical_days=90  # Сколько дней истории загружать

reddit_client_id="xxx"
reddit_client_secret="xxx"
reddit_username="xxx"
reddit_password="xxx"
reddit_user_agent="xxx"